<form method="POST" action="/memos">
  <h2>新規作成</h2>

  <div class="container">
    <label class="title">タイトル</label>
    <input type="text" id="title" name="title" class="input-form" required>

    <label for="content">内容</label>
    <textarea id="content" name="content" class="input-form"></textarea>
  </div>

  <div>
    <input type="submit" value="保存" class="update-button">
  </div>
</form>
